<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ranger.bmaterials"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    android:versionCode="100"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8"/>

    <!-- 必须申明的权限 -->
    <!-- 百度移动统计需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

    <!-- 可选的权限 -->
    <!-- 启用错误分析功能，须添加该权限 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 百度push的权限 -->
    <!-- 监听系统启动的权限,和上面重复 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".app.GameTingApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainHallActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BMCompanyInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.BMMineCollectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.BMLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.BMRegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ranger.bmaterials.ui.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.ranger.bmaterials.ui.ChangePwdActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ranger.bmaterials.ui.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.BMSearchResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <uses-library android:name="android.test.runner"/>

        <receiver android:name="com.ranger.bmaterials.updateservice.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>