<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BYLoginUrl_Tip</key>
	<string>博远账号系统接口地址</string>
	<key>BYLoginUrl</key>
	<string>http://192.168.189.31:8010/UP.ashx</string>
	<key>BYResetPswUrl_Tip</key>
	<string>博远账号重置密码</string>
	<key>BYResetPswUrl</key>
	<string>http://aq.sj.91.com/BoYuanWeb/Web/getpassword_v2.htm</string>
	<key>BYSetPayPswUrl_Tip</key>
	<string>设置支付密码</string>
	<key>BYSetPayPswUrl</key>
	<string>http://192.168.255.15:8084/Mobile/PayPwd/set.shtml</string>
	<key>ActUserCenterUrl_Tip</key>
	<string>用户中心接口地址</string>
	<key>ActUserCenterUrl</key>
	<string>http://192.168.189.31:4010/UP.aspx</string>
	<key>ActPayUrl_Tip</key>
	<string>虚拟币支付接口</string>
	<key>ActPayUrl</key>
	<string>http://192.168.189.31:4010/CommonPay/Pay.aspx</string>
	<key>ActRechargeUrl_Tip</key>
	<string>虚拟币充值接口</string>
	<key>ActRechargeUrl</key>
	<string>http://192.168.189.31:4010/CommonPay/Credit.aspx</string>
	<key>ActFPUrl_Tip</key>
	<string>通讯录及好友接口</string>
	<key>ActFPUrl</key>
	<string>http://192.168.189.31:4010/FP.aspx</string>
	<key>ActMessageUrl_Tip</key>
	<string>消息接口</string>
	<key>ActMessageUrl</key>
	<string>http://192.168.189.31:4010/MP.aspx</string>
	<key>ActWebRechargeUrl_Tip</key>
	<string>网页充值接口</string>
	<key>ActWebRechargeUrl</key>
	<string>http://192.168.189.31:4050/Pay/Recharge</string>
	<key>ActVirtualCurrencyRechargeUrl_Tip</key>
	<string>自定义虚拟币网页充值接口</string>
	<key>ActVirtualCurrencyRechargeUrl</key>
	<string>http://192.168.189.31:4050/Pay/VirtualGoods</string>
	<key>ActVirtualMoneyRechargeUrl_Tip</key>
	<string>自定义虚拟币网页充值接口(接口)</string>
	<key>ActVirtualMoneyRechargeUrl</key>
	<string>http://192.168.189.31:4050/Pay/AppVirtualMoney</string>
	<key>ActAppCenterUrl_Tip</key>
	<string>应用中心</string>
	<key>ActAppCenterUrl_3</key>
	<string>http://192.168.189.31:181/index.aspx</string>
	<key>ActAppCenterBBSUrl_Tip</key>
	<string>应用中心bbs</string>
	<key>ActAppCenterBBSUrl</key>
	<string>http://192.168.189.31:4015/default.aspx</string>
	<key>LeaderBoardUrl_Tip</key>
	<string>成就排行</string>
	<key>LeaderBoardUrl</key>
	<string>http://192.168.189.31:4010/AL.aspx</string>
	<key>ActPayQueryUrl_Tip</key>
	<string>默认支付查询网址</string>
	<key>ActPayQueryUrl</key>
	<string>http://192.168.189.31:4010/CommonPay/Query.aspx</string>
	<key>VirtualGoodsUrl_Tip</key>
	<string>虚拟商店</string>
	<key>VirtualGoodsUrl</key>
	<string>http://192.168.189.31:4010/GP.ashx</string>
	<key>CustomEventUrl_Tip</key>
	<string>自定义事件统计</string>
	<key>CustomEventUrl</key>
	<string>http://192.168.189.31:5010/Ana.ashx</string>
	<key>RedeemCodeUrl_Tip</key>
	<string>兑换码</string>
	<key>RedeemCodeUrl</key>
	<string>http://192.168.189.31:5070/EC.ashx</string>
	<key>AppPromotion_Tip</key>
	<string>软件互推</string>
	<key>AppPromotion</key>
	<string>http://192.168.189.31:4010/POP.ashx</string>
	<key>GameCenterUrl_Tip</key>
	<string>游戏中心</string>
	<key>GameCenterUrl</key>
	<string>http://192.168.189.31:1895/SdkService/action/</string>
	<key>DynamicServiceUrl_Tip</key>
	<string>动态地址分配</string>
	<key>DynamicServiceUrl</key>
	<string>http://192.168.189.31:8899/Update.ashx</string>
	<key>DynamicCachePath_Tip</key>
	<string>动态地址缓存路径</string>
	<key>DynamicCachePath</key>
	<string>CommPlatform/NdDynamicUrl.plist</string>
	<key>ResourceReportURL_Tip </key>
	<string>资源上报接口</string>
	<key>ResourceReportURL</key>
	<string>http://192.168.9.183:8011/resource.ashx</string>
	<key>useFlag</key>
	<string>1</string>
	<key>urlType_Tip</key>
	<string>内网</string>
</dict>
</plist>
