<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3RD_CELL_TEXTLABEL</key>
	<string>%@登录</string>
	<key>3RD_CHECK_RETOKEN_FAIL</key>
	<string>验证重新授权失败</string>
	<key>3RD_CTRL_LOGIN_TITLE</key>
	<string>账号登录</string>
	<key>3RD_CTRL_TITLE1</key>
	<string>绑定第三方账号</string>
	<key>3RD_CTRL_TITLE2</key>
	<string>其它账号登录</string>
	<key>3RD_GET_LOGIN_CONFIG_FAIL</key>
	<string>获取登录配置信息失败</string>
	<key>3RD_LOGIN_SUPPORT</key>
	<string>目前只支持%@登录</string>
	<key>3RD_SERVER_CHECK_FAIL</key>
	<string>服务端验证不通过</string>
	<key>3RD_UNBIND_ALERTVIEW_MSG</key>
	<string>解绑后当前账号数据将会丢失！</string>
	<key>3RD_UNBIND_ALERTVIEW_TITLE</key>
	<string>您要取消绑定%@？</string>
	<key>3RD_UNBIND_FORBID</key>
	<string>账号处于登录状态不允许解绑</string>
	<key>ACCOUNT_FORMAT_ERROR</key>
	<string>账号格式无效</string>
	<key>AGE_UNIT</key>
	<string>岁</string>
	<key>BIND_PHONE_CANNOT_FIND_SIM</key>
	<string>未检测到SIM卡</string>
	<key>BYBinded</key>
	<string>己绑定</string>
	<key>BYEmailCannotBeEmpty</key>
	<string>邮箱不能为空</string>
	<key>BYPasswordCannotBeEmpty</key>
	<string>密码不能为空</string>
	<key>BYPhoneCannotBeEmpty</key>
	<string>手机号不能为空</string>
	<key>BYUserNameCannotBeEmpty</key>
	<string>通行证不能为空</string>
	<key>BYYetActavted</key>
	<string>未激活</string>
	<key>BY_ERROR_ACCOUNT</key>
	<string>通行证格式无效，限4-16位小写字母、数字，首位为字母。</string>
	<key>BY_ERROR_EMAIL</key>
	<string>邮箱格式无效。</string>
	<key>BY_ERROR_PASSWORD</key>
	<string>密码格式无效，限6-12位字母、数字。</string>
	<key>BY_ERROR_PHONE</key>
	<string>手机号格式无效，限11位号码。</string>
	<key>CALL_PHONE</key>
	<string>拨打电话</string>
	<key>CANCEL</key>
	<string>取消</string>
	<key>CANNOT_CALL</key>
	<string>该设备不支持拨打电话</string>
	<key>DOWNLOAD_APP_HINT</key>
	<string>准备开始安装%@
软件版本V%@,文件大小%@
</string>
	<key>HEAD_PHOTO_SET</key>
	<string>设置头像</string>
	<key>HEAD_PHOTO_UPLOAD_FAIL</key>
	<string>上传失败</string>
	<key>HEAD_PHOTO_UPLOAD_SUCCESS</key>
	<string>上传成功</string>
	<key>INSTALL_FAIL</key>
	<string>安装失败</string>
	<key>INVALID_ACCOUNT_FORMAT</key>
	<string>应为4－70个字符，限小写字母、数字、邮箱账号</string>
	<key>INVALID_NICKNAME_FORMAT</key>
	<string>应为10个字符以内，支持中文</string>
	<key>INVALID_PASSWORD_FORMAT</key>
	<string>应为6－12个字符，限字母、数字，区分大小写</string>
	<key>LAST_UPDATE_FM</key>
	<string>最后更新:  %@</string>
	<key>LOCAL_ALBUM</key>
	<string>本地相册</string>
	<key>LOGIN</key>
	<string>登录</string>
	<key>MORE_PAGE_RECORD</key>
	<string>更多记录⋯⋯</string>
	<key>MSG_CHECK_CONTENT_CANNOT_NULL</key>
	<string>内容不能为空</string>
	<key>MSG_CHECK_CONTENT_LIMIT_MSG</key>
	<string>内容不能全部为空格或者换行字符，请重新输入</string>
	<key>MSG_CHECK_CONTENT_OVER_LIMIT</key>
	<string>您输入的内容太长 :-(  已经超出了%d个字符</string>
	<key>MSG_URL_RG_PATTERN</key>
	<string>http://([0-9a-zA-Z-]+\.)+[!-~]*</string>
	<key>NAV_RETURN</key>
	<string>返回</string>
	<key>NAV_TITLE_ACCOUNT_MANAGE</key>
	<string>账号管理</string>
	<key>ND_91BIND3RD_SUCCESS_FORMAT</key>
	<string>您的91账号(%@)和%@账号成功绑定！</string>
	<key>ND_ACCOUNT_NOT_ACTIVE</key>
	<string>账号未在商城开户，无法支付</string>
	<key>ND_BIND_FAIL</key>
	<string>绑定失败</string>
	<key>ND_BIND_SUCCESS</key>
	<string>绑定成功</string>
	<key>ND_COMMIT</key>
	<string>提交</string>
	<key>ND_FOLLOW_MICROBLOG</key>
	<string>活动随心享，关注有惊喜。是否立即关注%@官方微博?</string>
	<key>ND_HAS_BIND</key>
	<string>已绑定</string>
	<key>ND_HAS_NOT_BIND</key>
	<string>未绑定</string>
	<key>ND_INSTALL</key>
	<string>安装</string>
	<key>ND_OVERTIME</key>
	<string>登录超时，请重新登录</string>
	<key>ND_PAY_PSW_PLACEHOLDER</key>
	<string>请输入支付密码</string>
	<key>ND_PAY_PSW_TIP</key>
	<string>请输入支付密码，未设置支付密码时输入91通行证登录密码</string>
	<key>ND_PAY_SET_PSW_TIP</key>
	<string>请设置91通行证密码，初始支付密码与91通行证密码一致</string>
	<key>ND_SEND_FAILED</key>
	<string>发送请求失败</string>
	<key>ND_SERVER_ERROR</key>
	<string>服务器数据错误</string>
	<key>ND_SERVER_FAIL</key>
	<string>服务端处理失败</string>
	<key>ND_SETTING_FAIL</key>
	<string>设置失败</string>
	<key>ND_SHARED</key>
	<string>分享</string>
	<key>ND_SHARED_SUCCESSFUL</key>
	<string>分享成功啦！</string>
	<key>ND_UNBIND_FAIL</key>
	<string>解绑失败</string>
	<key>ND_UNKNOWN_ERROR</key>
	<string>未知错误</string>
	<key>ND_VERIFY_PAY_PSW_FAIL</key>
	<string>验证支付密码失败</string>
	<key>ND_WEB_ERROR</key>
	<string>网络错误</string>
	<key>ND_WEB_LOADING_FAIL</key>
	<string>网页加载失败</string>
	<key>ND_WEB_RETURN_TIP</key>
	<string>点确定返回</string>
	<key>ND_WEB_SERVER_ERROR</key>
	<string>网络或服务器发生错误</string>
	<key>NET_WORK_ERROR</key>
	<string>网络发生错误，无法连接到服务器，请检查您的网络连接</string>
	<key>NICKNAME_FORMAT_ERROR</key>
	<string>昵称格式错误</string>
	<key>NON_WIFI_DOWNLOAD_HINT</key>
	<string>建议您使用91手机助手升级节省手机流量</string>
	<key>NOT_YET_LOGIN</key>
	<string>请先登录</string>
	<key>PARAM_ERROR</key>
	<string>参数错误</string>
	<key>PASSWORD_ENTER_OLD</key>
	<string>请输入正确的原密码</string>
	<key>PASSWORD_FORMAT_ERROR</key>
	<string>密码格式错误</string>
	<key>PASSWORD_HAS_NOT_SET</key>
	<string>密码未设置</string>
	<key>PASSWORD_NEW_INVALID</key>
	<string>新密码格式不正确</string>
	<key>PASSWORD_OLD_WRONG</key>
	<string>原密码不正确</string>
	<key>PASSWORD_PLEASE_ENTER</key>
	<string>请输入密码</string>
	<key>PASSWORD_SHOULD_NOT_EMPTY</key>
	<string>密码不能为空</string>
	<key>PASSWORD_WRONG</key>
	<string>密码错误</string>
	<key>PERSONAL_INFO_SEX_FEMALE</key>
	<string>女</string>
	<key>PERSONAL_INFO_SEX_MALE</key>
	<string>男</string>
	<key>PHOTO_SIZE_LIMIT</key>
	<string>图片超过服务器指定的大小</string>
	<key>RECHARGE_SMS_FAIL</key>
	<string>充值短信发送失败</string>
	<key>SENDING_RECHARGE_SMS</key>
	<string>正在发送充值短信</string>
	<key>SESSION_ID_INVALID</key>
	<string>会话信息已过期 </string>
	<key>SHARE_ACCOUNT_FORMAT</key>
	<string>账号%@</string>
	<key>SHARE_BIND_MORE_ACCOUNT</key>
	<string>绑定更多账号，和好友齐分享</string>
	<key>SHARE_CONTENT_LIMIT</key>
	<string>分享内容不能超过%d字</string>
	<key>SHARE_DELETE_PHOTO</key>
	<string>删除图片</string>
	<key>SHARE_FOLLOW_NOW</key>
	<string>立即关注</string>
	<key>SHARE_NEED_LOGIN_OR_BIND</key>
	<string>您需要登录或者绑定其它账号</string>
	<key>SHARE_PLATFORM</key>
	<string>请指定要分享的平台</string>
	<key>SHARE_THANK_FOR_FOLLOW</key>
	<string>感谢您的关注！</string>
	<key>SHARE_TO_FORMAT</key>
	<string>分享到%@</string>
	<key>SURE</key>
	<string>确定</string>
	<key>TAKE_PICTURE_IMMEDIATELY</key>
	<string>马上照相</string>
	<key>TIP_3RD_PLFM_FAILED</key>
	<string>下载账号列表失败</string>
	<key>TIP_3RD_PLFM_NOT_SUPPORTED</key>
	<string>暂不支持其它账号登录</string>
	<key>TIP_LOADING</key>
	<string>加载中⋯</string>
	<key>TIP_NORMAL_REFRESH</key>
	<string>下拉可以刷新...</string>
	<key>TIP_NOT_LOGIN_3RD</key>
	<string>暂不支持%@登录</string>
	<key>TIP_NO_DATA</key>
	<string>没有相关数据</string>
	<key>TIP_PULL_REFRESH</key>
	<string>松开即可刷新...</string>
	<key>USER_CANCEL_LOGIN</key>
	<string>您已取消登录</string>
	<key>USER_LOGOUT</key>
	<string>您已注销</string>
	<key>USE_91_TO_INSTALL</key>
	<string>建议您使用91手机助手更新该应用</string>
	<key>VERSION_UPDATE_ING</key>
	<string>正在检查版本信息</string>
	<key>VERSION_UPDATE_MSG</key>
	<string>发现新版本 V%@ / %@</string>
	<key>VERSION_UPDATE_NOW</key>
	<string>立即更新</string>
	<key>VERSION_UPDATE_REQUIRED_MSG</key>
	<string>发现新版本 V%@ / %@。本次更新为强制更新，请您立即升级版本，否则软件将无法正常运行！</string>
	<key>VERSION_UPDATE_TITLE</key>
	<string>升级提示</string>
	<key>VERSION_UPDATE_UPDATEING</key>
	<string>程序正在更新，请稍候</string>
</dict>
</plist>
