<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ranger.lpa"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.ranger.lpa.LPApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name="com.ranger.lpa.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ranger.lpa.ui.activity.LPAMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LPAFoundPhoneCenter"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BarcodeScannerActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.ranger.lpa.receiver.BlueToothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.FOUND" />
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
            </intent-filter>
        </receiver>

        <!-- for test -->
        <activity
            android:name="com.ranger.lpa.test.act.DiscoveryDevicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ranger.lpa.test.act.WifiApTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LPAPartyCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingPurnishListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PurnishEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PurnishAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingPatternActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PatternPeriodEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/app_name" />
            </intent-filter>
        </activity>

        <meta-data android:name="BaiduMobAd_CHANNEL" android:value="develop" /> <!-- 您从百度网站获取的 APP KEY -->
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="20ec0f19ff" />

    </application>

</manifest>