<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ranger.lpa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.ranger.lpa.LPApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.ranger.lpa.ui.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ranger.lpa.ui.activity.LPAMainActivity"
            android:launchMode="singleTask" />
        
        <receiver android:name="com.ranger.lpa.receiver.BlueToothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.FOUND"/>
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"/>
            </intent-filter>
        </receiver>
        
        <!-- for test -->
        <activity android:name="com.ranger.lpa.test.act.DiscoveryDevicesActivity" />    
    
        <activity android:name="com.ranger.lpa.test.act.WifiApTestActivity" />
	</application>
    
    
</manifest>